# ---------------------------------------------------------
# Database Initialization (Used strictly by Docker on first run)
# ---------------------------------------------------------
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
REDIS_PASSWORD=

# ---------------------------------------------------------
# Application Database Credentials (Used by Docker & Go App)
# ---------------------------------------------------------
GAMEAPP_MYSQL__USERNAME=
GAMEAPP_MYSQL__PASSWORD=
GAMEAPP_MYSQL__HOST=
GAMEAPP_MYSQL__PORT=
GAMEAPP_REDIS__PASSWORD=
# ---------------------------------------------------------
# Application Secrets (Used strictly by Go App)
# ---------------------------------------------------------
GAMEAPP_AUTH__SIGN_KEY=